<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDmLU0hV3qCINPCv0bJbRbHppWJ1X11nPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>339349470481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.monolitoNotas.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blocnotas-6f5d4</string>
	<key>STORAGE_BUCKET</key>
	<string>blocnotas-6f5d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:339349470481:ios:6e1aad0bcbdbdf760f20b0</string>
</dict>
</plist>